.imagen{
    width: 40%; 
   
     
}
.encabezado{
    font-size: 25px;
    text-align: right;
  
   
    
}
.camposFormulario{
    font-size: 15px;
    border: 1px double black;
}
.iconoAtras{
    margin-top: 15px;
    font-size: 15px;
    color: black;
    
}
.buttonSignUp{
    width: 100%;
    background: #fff47e;
    border: 2px double white;
    color: black;
}

.columnaSize{
    text-align: center;
    width: 10%;
    border-bottom: 6px solid #0da6ab;;
    background-color: #f7f7f7;
   
}