.imagen{
    width:200%; 
   
     
}
.iconCard{
    width:15%;
  
}
.encabezado{
    font-size: 25px;
    text-align: right;
  
   
    
}

.iconoAtras{
    margin-top: 15px;
    font-size: 15px;
    color: black;
    
}

.size{
    text-align: center;
    width: 60%;
}



.columnaSize{
    text-align: center;
    width: 10%;
    border-bottom: 6px solid #0da6ab;;
    background-color: #f7f7f7;
   
}

.tabsMenu{
    height: 80%;
}
.buttonAceptar{
    width: 100%;
    background: #003d99;
    border: 2px double white;
}
.buttonCancel{
    width: 100%;
    background: #991200;
    border: 2px double white;
}