<ion-header>
  <ion-toolbar class="encabezado">
    <ion-grid>
      <ion-row size="12">
        <ion-col size="4" class="columnaSize">
          <ion-button routerLink='/menu-demanda'>
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="columnaSize">
          <ion-text>
            <h3>EDIT PROFILE STUDENT</h3>
          </ion-text>
        </ion-col>
        <ion-col size="4" class="columnaSize">
          <ion-text>
            <img class="imagenLogin" src="assets/imgs/lapiz.png">
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content class="home">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="camposFormulario">
          <ion-label position="floting">Firstname: </ion-label>
          <ion-input type="text" [(ngModel)]="student.name"> </ion-input>
          <ion-input type="text"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="camposFormulario">
          <ion-label position="floting">Lastname: </ion-label>
          <ion-input type="text" [(ngModel)]="student.lastname"></ion-input>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <div id="myMapStudent" class="map"></div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="#3b5999" class="buttonAceptar" (click)="update()">Update</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="#3b5999" class="buttonCancel" (click)="delete()">Delete</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>