
<ion-header>
 
  <ion-toolbar class="encabezado"> 
    
    <ion-grid>

      <ion-row size="12">
        <ion-col size="4" class="columnaSize">
          <ion-button (click)='logout()'>
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="columnaSize">
          <ion-text>
            <h3>TEACHER</h3>
          </ion-text>
        </ion-col>
        <ion-col size="4" class="columnaSize">
          <ion-text>
            <img class="imagenLogin" src="assets/imgs/teacher.png">
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

   
  </ion-toolbar>
</ion-header>

<ion-content class="home">


  <ion-grid>
   
    <ion-row>
      <ion-col>
        <ion-item class="camposFormulario">
          <ion-label position="floting">Firstname: </ion-label>
          <ion-input type="text" [(ngModel)]="teacher.$name"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="camposFormulario">
          <ion-label position="floting">Lastname: </ion-label>
          <ion-input type="text" [(ngModel)]="teacher.$lastname"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="camposFormulario">
          <ion-label position="floting">Phone: </ion-label>
          <ion-input type="text" [(ngModel)]="teacher.$phone"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <div id="myMap" class="map"></div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="#3b5999" class="buttonAceptar" (click)="save()">Save</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="#3b5999" class="buttonCancel" (click)="cancel()">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


