<ion-header>
  <ion-toolbar class="encabezado">
    <img class="imagenParticularium"  src="assets/imgs/particularium.png">
    <ion-title class="slogan">La educación es un proceso </ion-title>
    <ion-title class="slogan"> que no termina nunca</ion-title>
  
  </ion-toolbar>
 
</ion-header>

<ion-content class="home" >

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="contenedorBotones">
        <ion-button color="#003d99" class="buttonInicioLogin" routerLink='/login'>Login</ion-button>
      </ion-col>
     
     
    </ion-row>
    <ion-row>
      <!-- si excedes las doce columnas -->
      <ion-col size="12" class="contenedorBotones">
        <ion-button  color="#3b5999" class="buttonInicioSignUp" routerLink='/sign-up'>Sign Up</ion-button>
      </ion-col>       
    </ion-row>
  </ion-grid>
 
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="footer">Copyright Oficial 2020 ©</ion-title>
  </ion-toolbar>
</ion-footer>





