.imagen{
    width: 40%; 
   
     
}
.encabezado{
    font-size: 25px;
    text-align: right;
  
   
    
}
.camposFormulario{
    font-size: 15px;
    border: 1px double black;
}
.iconoAtras{
    margin-top: 15px;
    font-size: 15px;
    color: black;
    
}

.buttonLogin{
    width: 100%;
    background: #003d99;
    border: 2px double white;
}
.footer{
    font-size: 12.5px;
    text-align: center;
     color: rgb(0, 0, 0);
     margin-top: 5px;
     margin-bottom: 25px;
}
.lista{
    background-color: transparent;
}

.columnaSize{
    text-align: center;
    width: 10%;
    border-bottom: 6px solid #0da6ab;;
    background-color: #f7f7f7;
   
}

.olvidarContraseña{
    text-align: center;
   
}
.tabsMenu{
    height: 80%;
}
.cardStyle{
    background-color: lightgrey;
}